body{
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }
    
  
  .move-icon{
    height: 50px;
  }
  .move-button{
    background-color: transparent;
    width: 120px;
    height: 120px;
    border: 5px solid white;
    border-radius: 100%;
    margin: 10px;
    cursor: pointer;

  }
  .score{
    font-size: 25px;
    font-weight: bold;
    margin: 50px;
  }
  .moves{
    margin-top: 60px;
  }
  .reset-score-button{
    background-color: white;
    border: none;
    font-size: 20px;
    padding: 8px 15px;
    cursor: pointer;
  }
